@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #ddd;
    height: 200vh;
    
}
.fa-chevron-right{
    font-size: 17px;
}
.card ul{
    position: relative;
    z-index: 1;
}
.card ul li .card-icon::before{
    content: "";
    top: 0;
    position: absolute;
    width: 2px;
    height: 90%;
    background-color: #ddd;
    margin-top: 30px;
    margin-left: 25px;
    z-index: -1;
    
}
button[aria-expanded="true"] i{
    transform: rotate(90deg);
}